[main]
#connection oriented settings
#connUrl=jdbc:mysql://192.168.0.3:3306
connUrl=jdbc:mysql://127.0.0.1:3306
database=test
user=stress	
password=tool
connParameters=autoReconnect=true  
connectionPool=false
connectionPoolClass= 
selectForceAutocommitOff=false
stickyconnection=false


FKEnable=false
createTable=true 
dbType=MySQL 
doDelete=false 
doReport=true 
doSimple=false 
doSimplePk=false 
droptable=true
ignoreBinlog=false
operationShort=true  
poolNumber=4
pctInsert=100
pctUpdate=0 
pctSelect=0 
pctDelete=0 
repeatNumber=1000
HardStopLimit=100
UseHardStop=false
StatIntervalMs=1000
StatLoops = 20000
SemaphoreCountdownTime = 1
# table engine comma separated with % value; 
TableEngine=InnoDB|60,MyISAM|40
truncate=false
# Interactive mode [0 no|1 console output|2 console output + not exit until question is answered ] default 1 
interactive = 2


DeleteClass=net.tc.stresstool.actions.DeleteBase 
SelectClass=net.tc.stresstool.actions.SelectBase
InsertClass=net.tc.stresstool.actions.InsertBase
UpdateClass=net.tc.stresstool.actions.UpdateBase
ValueProvider=net.tc.stresstool.value.BasicFileValueProvider

logPathStats=/tmp/stats.csv
logPathStatReport=/tmp/reportstat.txt
logPathReport=/tmp/report.txt
appendLogStat=true
insertStatHeaders=true
appendLogReport=true

datafilepath=/opt/shakespere.txt


#manage the calendar options
# YYYY-MM-DD HH:MM:SS
# daysdiffernce is the target/final date of the period 
calendardate=2015-05-25 05:01:06 
daysdiffernce=100


[logs]
stresstool=log4j.cnf
applicationlog=APPLICATION
actionlog=ACTIONS
statlog=STATS
monitorlog=MONITORS

[statistics]
rootdirectory=/tmp/stats
#this parpameter says to write a CSV file for each provider (in root dir)
flushrowonfile=true
providerclass=net.tc.stresstool.statistics.providers.MySQLStatus
#,net.tc.stresstool.statistics.providers.InnoDB
#,net.tc.stresstool.statistics.providers.MySQLPerfSchema,net.tc.stresstool.statistics.providers.MySQLSProclist
eventhistory=350
actionhistory=120
processaverage=true



[net.tc.stresstool.actions.DeleteBase] 
sleepDelete=0 
usePrepareStatement=false

[net.tc.stresstool.actions.SelectBase]
#for consistency the number of tables should never be higher than the ones declared in the Insert class
#numberOfprimaryTables=10
#numberOfSecondaryTables=8
usePrepareStatement=false
NumberOfJoinTables=2
JoinField=a
ForceIndex=true
IndexName=IDX_a
NumberOfIntervalKeys=10000
SelectFilterMethod=in
#range|in|match
SleepSelect=0 


[net.tc.stresstool.actions.InsertBase]
usePrepareStatement=false
numberOfprimaryTables=3
numberOfSecondaryTables=2
useAutoIncrement=true
joinField=a
sleepWrite=1
lazyCreation=true
lazyInterval=200
batchSize=10
jsonFile=/Users/marcotusa/programs/JBuilder/workspace/stresstool/json_definition.json


[net.tc.stresstool.actions.UpdateBase]
usePrepareStatement=false
delayStartRecords = 1000
#numberOfprimaryTables=1
#numberOfSecondaryTables=
useAutoIncrement=true
joinField=a
sleepWrite=1
lazyCreation=true
lazyInterval=5000
batchSize=50
