[main]
connUrl=jdbc:mysql://192.168.0.3:3306
database=test
user=stress	
password=tool
connParameters=autoReconnect=true  
createTable=true 
dbType=MySQL 
doDelete=false 
doBatch=30
doReport=true 
doSimple=false 
doSimplePk=false 
droptable=true
ignoreBinlog=false
operationShort=true  
poolNumber=10
pctInsert=100 
pctSelect=0 
pctDelete=0 
repeatNumber=100
sleepFor=0
sleepWrite=0
sleepSelect=0 
sleepDelete=0
# table engine comma separated with % value; 
tableEngine=InnoDB|60,MyISAM|40
truncate=false

DeleteClass=net.tc.stresstool.actions.DeleteBase 
SelectClass=net.tc.stresstool.actions.SelectBase
InsertClass=net.tc.stresstool.actions.InsertBase
UpdateClass=net.tc.stresstool.actions.UpdateBase

logPathStats=/tmp/stats.csv
logPathStatReport=/tmp/reportstat.txt
logPathReport=/tmp/report.txt
appendLogStat=true
insertStatHeaders=true
appendLogReport=true



[logs]
stresstool=log4j.cnf
applicationlog=APPLICATION
actionlog=ACTIONS
statlog=STATS
monitorlog=MONITORS

[statistics]
rootdirectory=/tmp/stats
#this parpameter says to write a CSV file for each provider (in root dir)
flushrowonfile=true
providerclass=net.tc.stresstool.statistics.providers.MySQLStatus
#,net.tc.stresstool.statistics.providers.InnoDB
#,net.tc.stresstool.statistics.providers.MySQLPerfSchema,net.tc.stresstool.statistics.providers.MySQLSProclist
eventhistory=350
actionhistory=120
processaverage=true



[net.tc.stresstool.actions.DeleteBase] 
sleepDelete=0 

[net.tc.stresstool.actions.SelectBase]
#numberOfprimaryTables=10
#numberOfSecondaryTables=8
numberOfJoinTables=2
joinField=a
forceIndex=true
indexName=IDX_a
numberOfIntervalKeys=10000
selectFilterMethod=in
#range|in|match
sleepSelect=0 


[net.tc.stresstool.actions.InsertBase]
numberOfprimaryTables=1
numberOfSecondaryTables=1
useAutoIncrement=true
joinField=a
sleepWrite=1
lazyCreation=true
lazyInterval=5000
batchSize=50
jsonFile=/Users/marcotusa/programs/JBuilder/workspace/stresstool/json_definition.json


[net.tc.stresstool.actions.UpdateBase]
numberOfprimaryTables=30
numberOfSecondaryTables=20
useAutoIncrement=true
joinField=a
sleepWrite=1
lazyCreation=true
lazyInterval=5000
batchSize=50
